<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="dependencyVersion" value="Highest" />
    <add key="globalPackagesFolder" value="packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <solution key="disableSourceControlIntegration" value="true" />
  <packageSources>
    <add key="ci.appveyor.com/core" value="https://ci.appveyor.com/nuget/core-14bbg50x5lhf" />
    <add key="ci.appveyor.com/executableapplication" value="https://ci.appveyor.com/nuget/executableapplication-hmklp5qmglxg" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>